.hero-section {
    background-image: url;
    background-color: rgb(24, 19, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
    background-image: url(../../Assets/bgi.jpg);
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;

}

.hero-section .info {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .para {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px 0;

        a {
            padding: 12px 15px;
            background-color: #c5c57b;
            color: rgb(24, 19, 0);
            width: 146px;
            border-radius: 10px;
            box-shadow: inset 0 0 10px 1px rgb(163, 162, 162);
            /* box-shadow:  0 0 5px 0.5px rgb(114, 114, 114); */
        }
    }

    h1 {
        font-size: 50px;
        font-weight: 400;
    }

    p,
    h2 {
        font-weight: 200;
    }

    span h2 {
        color: crimson;
        font-weight: 400;
    }
}

.hero-section .my-image img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 30px 5px rgb(240, 248, 168);

}

@media(max-width:1166px) {
    .hero-section {
        padding: 50px;
        gap: 50px;

        .info {
            width: 100%;
        }
    }
}

@media(max-width:728px) {
    .hero-section {
        padding: 50px;
        gap: 50px;

        .info h1 {
            font-size: 35px;
        }

        .info h2 {
            font-size: 20px;
        }

        .my-image img {
            width: 300px;
        }

    }
}

@media(max-width: 470px) {
    .hero-section {
        padding: 60px 25px;

        .info h1 {
            font-size: 25px;
        }

        .info h2 {
            font-size: 15px;
        }

        .my-image img {
            width: 200px;
        }

    }
}


/* ======================================================================================== */

.section1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 150px;

    background-color: rgb(36, 20, 0);

    h2 {
        font-size: 30px;
        font-weight: 400;
    }

}

.slider {

    position: relative;
    height: 250px;
    width: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 10px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);

    h3 {
        color: rgb(46, 28, 1);
        text-align: center;
        font-weight: 500;
    }
}

.slider .box img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
    transition: 2s;
}

@media(max-width:1024px) {
    .section1 {
        height: 60vh;
    }

    .slider {
        height: 150px;
        width: 120px;
    }

    .slider .box {
        gap: 20px;
        transform: rotateY(calc(var(--i)*45deg)) translateZ(250px);

        h3 {
            font-size: 15px;
        }
    }

    .slider .box img {
        width: 50px;
        height: 50px;
        border-radius: 5px;

    }
}

@media(max-width:680px) {
    .section1 {
        height: 50vh;

        h2 {
            font-size: 20px;
        }
    }

    .slider {
        height: 120px;
        width: 90px;
    }

    .slider .box {
        transform: rotateY(calc(var(--i)*45deg)) translateZ(150px);

        h3 {
            font-size: 12px;
        }
    }

    .slider .box img {
        width: 30px;
        height: 30px;

    }
}

@media(max-width:400px) {
    .section1 {
        height: 40vh;
        gap: 50px;

        h2 {
            font-size: 15px;
        }
    }

    .slider {
        height: 70px;
        width: 60px;
    }

    .slider .box {
        gap: 10px;
        padding: 10px;
        transform: rotateY(calc(var(--i)*45deg)) translateZ(100px);

        h3 {
            font-size: 8px;
        }
    }

    .slider .box img {
        width: 30px;
        height: 30px;

    }
}

/* ======================================================= */


.point-sphere{
    height: 100%;
    width: 100%;

}



/* =============================================================== */

.brief {
    height: auto;
    width: 100vw;
    background-color: rgb(36, 20, 0);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 50px;

}

.card {
    height: auto;
    width: 80%;
    background-color: rgba(138, 75, 3, 0.5);
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    /* box-shadow:  0 0 10px 1px rgb(240, 248, 168); */
    box-shadow: inset 0 0 10px 1px rgb(46, 32, 1);
    padding: 60px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    h1 {
        text-align: center;
        margin-top: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    li {
        list-style: disc;
        opacity: 0.7;

        span {
            color: rgb(252, 194, 48);
        }
    }

}

@media(max-width:1000px) {
    .card {
        width: 90%;
    }
}

@media(max-width:700px) {
    .brief {
        padding: 20px;
    }

    .card {
        width: 95%;
        padding: 50px 20px;
        padding-left: 40px;

        h1 {
            font-size: 25px;
        }
    }
}

@media(max-width:450px) {

    .card {
        width: 95%;
        padding: 50px 20px;
        padding-left: 40px;

        h1 {
            font-size: 20px;
        }
    }
}

/* ============================================================= */


.resume {
    height: auto;
    width: 100vw;
    padding: 50px;
    background-color: rgb(36, 20, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

.resume .resume-section {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
    border-radius: 25px;
    background-color: rgba(138, 75, 3, 0.5);
    box-shadow: inset 0 0 10px 1px rgb(46, 32, 1);

}

.resume .resume-section .image-section {
    height: auto;
    width: 400px;
    position: relative;

    img {
        width: 100%;
        opacity: 0.5;
    }
}

.resume .resume-section .image-section .port-resume {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    transform: scale(0);
    transition: 0.3s all ease-in-out;
    visibility: hidden;

    a {
        font-size: 20px;
        font-weight: 300;
        color: rgb(36, 20, 0);
        cursor: pointer;
    }


    h3 {
        color: rgb(36, 20, 0);
        font-weight: 500;
    }
}

.resume .resume-section .image-section:hover .port-resume {
    transform: scale(1);
    visibility: visible;
    

}

.port-veiw {

    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    p{
        opacity: 0.8;
    }

    a {
        padding: 10px 30px;
        color: rgb(255, 255, 255);
        background-color: rgba(177, 99, 10, 0.5);
        border-radius: 7px;
        box-shadow: inset 0 0 10px 1px rgb(138, 111, 49);
        cursor: pointer;
    }
}



@media(max-width:1163px) {
    .resume .resume-section {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .port-veiw{
        width: 100%;
    }
}
@media(max-width:1000px){
    .resume .resume-section{
        width: 90%;
    }
}
@media(max-width:700px){
    .resume{
        padding: 50px 20px;
    }
    .resume .resume-section{
        width: 95%;
        padding: 30px;
    }
    .resume .resume-section .image-section .port-resume{
        gap: 25px;
        
        a{
            font-size: 25px;
        }
        h3{
            font-size: 15px;
        }
    }
}


